.main {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.animate {
  animation: bgSlider 10s alternate infinite;
}

@keyframes bgSlider {
  0% {
    background-image: url('/background-1.jpg');
  }
  33% {
    background-image: url('/background-2.jpg');
  }
  66% {
    background-image: url('/background-1.jpg');
  }
  100% {
    background-image: url('/background-2.jpg');
  }
}
