.nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  gap: 32px;
}

.nav img {
  width: 100%;
  height: 100%;
}

.nav ul li:first-child {
  width: 50px;
  height: 50px;
  margin-right: auto;
}

.nav ul li {
  cursor: pointer;
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}
